/* Font */
body {
    font-family: 'Canva Sans', sans-serif;
margin: 20px;
padding: 0;
justify-content: center;
}

/* FAQ item styling */

.container{
    width: 650px;
    overflow: auto;
    height: 495px;
    overflow-y: scroll;
    justify-content: center;
}


.faq-item {
margin-bottom: 20px;
    position: relative;
}

.question {
    background-color: #E64848;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

.answer {
    background-color: #F5A31A;
    color: #000000;
    padding: 15px;
    border-radius: 0 0 5px 5px;
}
